{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        {% if usuario.id %}
            Modificar usuario {{ usuario.usuario }}
        {% else %}
            Nuevo usuario
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

