{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Confirmar eliminación de {{ categoria }}</h1>
    <form method="post" action="{{ path('confirmar_borrar_categoria', {'id': categoria.id}) }}" name="confirmar">
        <button type="submit" name="eliminar" class="btn btn-danger"><i class="fa fa-trash"></i> Sí, quiero eliminarlo</button>
        <a href="{{ path('listadoCategorias') }}" class="btn btn-info">No, quiero volver</a>
    </form>
{% endblock %}

