{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        {% if categoria.id %}
            Modificar categoria {{ categoria.nombre }}
        {% else %}
            Nueva categoria
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group" id="envio">
        <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
        <a href="javascript:history.go(-1);" class="btn btn-info"><i class="fa fa-reply"></i> Volver</a>
    </div>
    {{ form_end(form) }}
{% endblock %}