{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Confirmar reactivación de {{ articulo }}</h1>
    <form method="post" action="{{ path('confirmar_activar_articulo', {'id': articulo.id}) }}" name="confirmar">
        <button type="submit" name="activar" class="btn btn-success"><i class="fa fa-upload"></i> Sí, quiero activarlo</button>
        <a href="{{ path('listadoArticulos') }}" class="btn btn-danger">No, quiero volver</a>
    </form>
{% endblock %}


