{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Confirmar eliminación de {{ multimedia }}</h1>
    <form method="post" action="{{ path('confirmar_borrar_multimedia', {'id': multimedia.id}) }}" name="confirmar">
        <button type="submit" name="desactivar" class="btn btn-danger"><i class="fa fa-download"></i> Sí, quiero borrarlo</button>
        <a href="javascript:history.go(-1);" class="btn btn-info"><i class="fa fa-reply"></i> No, quiero volver</a>
    </form>
{% endblock %}

