{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Nuevo Archivo Multimedia</h1>
    <h6>* Campos obligatorios</h6>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group" id="envio">
        <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
        <a href="javascript:history.go(-1);" class="btn btn-info"><i class="fa fa-reply"></i> Volver</a>
    </div>
    {{ form_end(form) }}
{% endblock %}