:root {
    --remarcado: #A7A37E;
    --fondo: #EFECCA;
    --oscuro: #046380;
    --claro:#E6E2AF;
}
html{
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 65px;
    background-color:var(--fondo);
}
body > .container{
    padding-top: 120px;
    padding-bottom: 50px;
}
.barra{
    background-color: var(--oscuro);
}
.barra li:hover, .navbar-default .navbar-nav > .active > a{
    background-color: var(--remarcado);
}
.navbar-brand, .barra li a{
    color:white!important;
}
.navbar-brand:hover{
    color:var(--remarcado)!important;
}
ul.navbar-right{
    display: flex;
    justify-content: flex-end!important;
}
#navbar>.container{
    display: flex;
    justify-content: center;
}
ul.navbar-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#buscar{
    display: flex;
    flex-wrap: nowrap;
}
.articulos{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
}
.contenido-articulo{
    background-color: var(--claro);
    border: solid 1px var(--remarcado);
    padding-bottom: 1em;
}
.contenido-articulo>p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.cuadro{
    border: solid 1px black;
    padding: 1em;
    border-radius: 15px;
}
.table{
    background-color: var(--claro);
    border: 0.5px solid var(--oscuro);
}
.table-hover tbody tr:hover td {
    background: var(--remarcado);
}
.table-bordered td, .table-bordered th{
    border-color: var(--oscuro) !important;
}
.table-bordered th{
    border-bottom:0!important;
}
.usuario{
    color:white;
}
.desplegable{
    margin-top: -3px;
}
#error{
    color:red;
}
table a, table th{
    color: black;
}
table a:hover{
    color:white;
    text-decoration:none;
}
td, th{
    text-align: center;
    vertical-align: middle!important;
}
table td img, table td video, .col-sm-10>img, .col-sm-10>video{
    width: 160px;
}
#paginador{
    display: flex;
    justify-content: center;
}
.modal-content{
    border-radius: 10px;
}
.modal-header, .modal-footer{
    background-color: var(--oscuro);
    color: white;
}
.modal-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo);
}
.multimedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.multimedia img , .multimedia audio{
    width: 250px;
}
hr{
    width:75%;
    border-top: 1px solid var(--oscuro);
}
button a{
    color: white;
}
button a:hover{
    text-decoration: none;
    color: white;
}
#envio{
    display: flex;
    justify-content: space-between;
}
footer {
    width: 100%;
    bottom: 0;
    position:absolute;
    height: 65px;
    background-color:var(--oscuro);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visor{
    background-color: black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#visor{
    display: flex;
    justify-content: center;
}
.visor img,.visor video{
    width: 300px;
    height: 250px;
}
@media (max-width: 992px) {
    body>.container {
        margin-top: 50px;
    }
    ul.navbar-nav>li>a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .articulos {
        flex-direction: column;
        align-items: inherit;
        justify-content: center;
    }
    .contenido-articulo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #botones{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .navbar-top{
        padding-bottom: 50px;
    }
    body>.container {
        margin-top: 30px;
    }
    .desplegable{
        margin-top: -7px;
    }
    ul.navbar-nav{
        flex-direction: column;
    }
    ul.navbar-nav>li>a{
        flex-direction: row;
    }
    .articulos {
        flex-direction: column;
        align-items: inherit;
        justify-content: center;
    }
    .contenido-articulo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-top>.container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #botones{
        display: flex;
        justify-content: center;
    }
    table td img, table td video{
        width: 100px;
    }
    .contenido-articulo>p{
       white-space: pre-wrap;
    }
    #visor{
        flex-direction: column;
    }
    .visor{
        margin: 10px;
    }
}
